[Unit]
Description=List Printer
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/list-printer-pi/main.py
Restart=on-abort

[Install]
WantedBy=multi-user.target